<%- include('partials/head') %>
<%- include('partials/nav') %>
<body>
  
  <h3>Browsing the <%= name %> subreddit</h3>
  <h5><%= description %></h5>
  
  <hr>

      <%for(let post of posts) { %>
      <article>
        <p><%= post.title %> - <B><%= post.author %></B></p>
      </article>
      <% } %>

      <p><%= subscribers %> Total Subscribers</p>
  <a href="/">Back</a>
</body>
</html>